.posts-container{
    background-color: white;
    padding: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.post_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post_info > h2 , .post_info > p{
    margin: 5px;
    align-items: center;
    text-align: center;
}

.post_info > p{
    color: gray;
}

.post_body{
    overflow-wrap: anywhere;
}

.post_body > img{
    width: 200px;
    height: 200px;
    }

.post_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}